<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aplicacoessql">

    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_minhasanotacoes_round"
        android:label="Minhas anotações"
        android:roundIcon="@mipmap/ic_launcher_minhasanotacoes_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.AdicionarTarefas">
        <activity android:name="activities.AdicionarTarefaActivity" />

        <activity
            android:name="activities.ListaDeTarefasActivity"
            android:label="@string/title_activity_lista_de_tarefas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdicionarTarefas" />
        <activity android:name="activities.SqlLiteActivity" />
        <activity
            android:name="activities.MinhasAnotacoes"
            android:label="@string/title_activity_minhas_anotacoes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.Personalizado" />
        <activity
            android:name="activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>